{% extends "lorchidee/base.html" %}

{% load static %}

{% block wrapper %}

    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <!--<h2 class="section-heading text-uppercase">Services</h2>-->
                <br /><br />
                <h3 class="section-subheading text-muted">Page d'Accueil</h3>
                <br /><br />
         <p>Ce projet consiste à récupérer sous format PDF un planning créé par une application
            tierce.</p>
         <p>A partir de là, il est enregistré en BDD et l'utilisateur(trice) a la possibilité de
            le consulter en y insérant un commentaire sur chaque ligne.</p>

            </div>
            <div class="row text-center">


            </div>
        </div>
    </section>




{% endblock %}
