{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block section %}

  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!--<div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'cinetic/assets/img/intro-carousel/1.jpg' %}" alt="">
          </div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Titre à trouver</h2>
                <p>
                  C'est parti ! Un nouveau livre, plus qu'une page s'ouvre. <br />
                  Un tournant pris et je me lance dans cette palpitante aventure programmatique.  
                  C'est mon site naissant qui grandira avec le temps.<br />
                  Mes projets sont d'abord présentés sur cette plateforme.<br />
                  Puis certainement, j'évoluerai vers la proposition de prestations.
                </p>
                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'cinetic/assets/img/intro-carousel/2.jpg' %}" alt="">
            </div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>At vero eos et accusamus</h2>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>-->

          <div class="carousel-item active">
            <div class="carousel-background"><img src="{% static 'cinetic/assets/img/intro-carousel/3.jpg' %}" alt="">
            </div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>{% translate "Bienvenue sur 6netic.eu" %}</h2>
                <p>
                  {% translate "Ce site personnel a pour but de m'offir une visibilité sur le Web." %}<br />
                  {% translate "Passioné par le développement, j'y présente des projets réalisés en Python." %}<br />
                  {% translate "Son contenu n'est pas très fourni mais il a pour vocation de grossir avec le temps..." %}
                </p>
                <!--<a href="#featured-services" class="btn-get-started scrollto">Get Started</a>-->
              </div>
            </div>
          </div>

          <!--<div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'cinetic/assets/img/intro-carousel/4.jpg' %}" alt="">
            </div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Nam libero tempore</h2>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                Ut enim ad minima veniam, quis nostrum.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>-->

        </div>

        <!--<a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>-->

      </div>
    </div>
  </section><!-- #intro -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
     <!-- JavaScript Libraries --> 
    <!--<script src="{% static 'cinetic/assets/lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'cinetic/assets/lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'cinetic/assets/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'cinetic/assets/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'cinetic/assets/lib/superfish/hoverIntent.js' %}"></script>
    <script src="{% static 'cinetic/assets/lib/superfish/superfish.min.js' %}"></script>
    <script src="{% static 'cinetic/assets/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'cinetic/assets/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'cinetic/assets/lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'cinetic/assets/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'cinetic/assets/lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'cinetic/assets/lib/lightbox/js/lightbox.min.js' %}"></script>
    <script src="{% static 'cinetic/assets/lib/touchSwipe/jquery.touchSwipe.min.js' %}"></script>-->
     <!-- Template Main Javascript File --> 
    <script src="{% static 'cinetic/assets/js/main.js' %}"></script>  
     <!-- Contact Form JavaScript File --> 
    <script src="contactform/contactform.js"></script>


{% endblock %} 
  

