{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block section %}


    <section id="portfolio"  class="section-bg" >
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">{% translate "Mes Projets" %}</h3>
        </header>

        <div class="row">
          <header class="section-header wow fadeInUp">
              <p>{% translate "Sur cette page sont présentés les projets réalisés à ce jour." %}</p>
          </header>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static 'cinetic/assets/img/portfolio/papyrobot.jpg' %}" class="img-fluid" alt="">
                <a href="https://grandpy-ebres.herokuapp.com" target="_blank" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Aller sur le Site">
                  <i class="ion ion-eye"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">GrandPy</a></h4>
                <p>{% translate "Application web développée avec le framework Flask." %}<br />
                   {% translate "Il s'agit d'un bot hébergé sur Heroku qui vous affiche la carte du lieu recherché ainsi qu'un extrait de l'histoire du lieu." %}<br />
                   {% translate "Les requetes utilisent Ajax pour la communication avec le serveur." %}<br /><br />
                   {% translate "Le site est disponible à cette adresse :" %}<br />
                   <a href="https://grandpy-ebres.herokuapp.com" target="_blank">Site GrandPy</a><br /><br />
                   {% translate "Le code du dépôt est disponible ici :" %}<br />
                   <a href="https://github.com/6netic/GrandPy" target="_blank">https://github.com/6netic/GrandPy</a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static 'cinetic/assets/img/portfolio/purbeurre.jpg' %}" class="img-fluid" alt="">
                <a href="../food/" target="_blank" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Aller sur le Site">
                  <i class="ion ion-eye"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Pur Beurre</a></h4>
                <p>{% translate "Application Web développée avec le framwork Django." %}<br />
                   {% translate "Il s'agit d'une appli hébergée sur IAAS qui propose des produits plus sains que ceux que vous entrez." %}<br />
                   {% translate "La base de données alimentaire provient d'OpenFoodFacts via son API." %}<br />
                   {% translate "Vous pouvez créer un compte et sauvegarder vos aliments préférés." %}<br /><br />
                   {% translate "Le site est disponible à cette adresse :" %}<br />
                   <a href="../food/" target="_blank">Site PurBeurre</a><br /><br />
                   {% translate "Le code du depot est disponible ici :" %}<br />
                   <a href="https://github.com/6netic/dixpb" target="_blank">https://github.com/6netic/dixpb</a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static 'cinetic/assets/img/portfolio/target.jpg' %}" class="img-fluid" alt="">
                <a href="https://target-ebres.herokuapp.com/" target="_blank" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Aller sur le Site">
                  <i class="ion ion-eye"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Shooting Target</a></h4>
                <p>{% translate "Application Web développée avec le framework Flask." %}<br />
                   {% translate "Il s'agit d'une appli hébergée sur Heroku qui propose d'afficher le résultat du nombre de points sur une cible de 10 mètres." %}<br />
                   {% translate "La librairie Opencv est utilisée." %}<br />
                   {% translate "Pour le moment, l'appli est sommaire : ne sont reconnus que 10 trous qui ne se touchent pas." %}
                   {% translate "Des exemples de photos et explications sont disponibles sur le dépot Github." %}<br /><br />
                   {% translate "Le site est disponible à cette adresse :" %}<br />
                   <a href="https://target-ebres.herokuapp.com/" target="_blank">Site Shooting Target</a><br /><br />
                   {% translate "Le code du dépôt est disponible ici :" %}<br />
                   <a href="https://github.com/6netic/shtarget" target="_blank">https://github.com/6netic/shtarget</a>  </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static 'cinetic/assets/img/portfolio/booking.jpg' %}" class="img-fluid" alt="">
                <a href="{% url 'booking:index' %}" target="_blank" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Aller sur le Site">
                <i class="ion ion-eye"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Réservation Transport</a></h4>
                <p>{% translate "Application Web développée avec le framework Django." %}<br />
                   {% translate "Il s'agit d'une maquette fonctionnelle pour une entreprise qui souhaitait permettre à ses clients d'enregistrer des réservations afin d'être transportés d'un lieu à un autre." %}<br /><br />
                   {% translate "Le site est disponible à cette adresse :" %}<br />
                   <a href="{% url 'booking:index' %}" target="_blank">Site Reservations</a><br /><br />
                   {% translate "Le code du dépôt est disponible ici :" %}<br />
                <a href="https://github.com/6netic/limobooking" target="_blank">https://github.com/6netic/limobooking</a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static 'cinetic/assets/img/portfolio/laparisienne.jpg' %}" class="img-fluid" alt="">
                <a href="https://lebanlieuzar.herokuapp.com/" target="_blank" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Aller sur le Site">
                <i class="ion ion-eye"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">LeBanlieuzar</a></h4>
                <p>{% translate "Application Web développée avec le framework Flask." %}<br />
                {% translate "Il s'agit en fait d'un hack du site LeParisien.fr qui permet d'afficher tous les articles." %}<br />
                {% translate "L'unique intérêt est d'utiliser la librairie BeautifulSoup pour cet usage." %}<br /><br />
                {% translate "Le site est disponible à cette adresse :" %}<br />
                <a href="https://lebanlieuzar.herokuapp.com/" target="_blank">Site LeBanlieuzar</a><br /><br />
                {% translate "Le code du dépôt est disponible ici :" %}<br />
                <a href="https://github.com/6netic/lebanlieuzar" target="_blank">https://github.com/6netic/lebanlieuzar</a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static 'cinetic/assets/img/portfolio/labyrinth.jpg' %}" class="img-fluid" alt="">
                <a href="#" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Aller sur le Site">
                <i class="ion ion-eye"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">MG Labyrinth</a></h4>
                <p>{% translate "Application Python de jeu avec Pygame." %}<br />
                {% translate "Il s'agit d'un jeu de labyrinthe en Python qui utilise la librairie Pygame." %}<br />
                {% translate "Le personnage est Mac Gyver et le but est de l'aider à trouver la sortie en ayant préalablement ramassé 3 objets." %}<br />
                {% translate "Autrement, la partie sera perdue." %}<br />
                {% translate "Pour le faire fonctionner, il faudra télécharger le code à partir du dépot." %}<br /><br />
                {% translate "Le code du depot est disponible ici :" %}<br />
                <a href="https://github.com/6netic/mg_labyrinth" target="_blank">https://github.com/6netic/mg_labyrinth</a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static 'cinetic/assets/img/portfolio/scraping.png' %}" class="img-fluid" alt="">
                <a href="#" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview">
                  <i class="ion ion-eye"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Scrape4Fun</a></h4>
                <p>{% translate "Application Python permettant de récupérer tous les livres du site books.toscrape.com et les enregistre dans un fichier .csv" %}<br /><br />
                   {% translate "Sur ce projet, c'est la bibliothèque BeautifulSoup qui a été utilisée." %}<br /><br />
                   {% translate "Le code du dépôt est disponible ici :" %}<br />
                <a href="https://github.com/6netic/scrape_for_fun"
                   target="_blank">https://github.com/6netic/scrape_for_fun</a>
                </p>
              </div>
            </div>
          </div>
    <!--
          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static 'cinetic/assets/img/portfolio/calendar.jpg' %}" class="img-fluid" alt="">
                <a href="#" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview">
                  <i class="ion ion-eye"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">L'Orchidée</a></h4>
                <p>Application web Django présentant un planning d'activités pour un cabinet de
                  3 infirmières<br /><br />
                  Sur ce projet, .<br /><br />
                 Le site est disponible à cette adresse :<br />
                <a href="{% url 'recognition:index' %}" target="_blank">Site L'Orchidée</a><br /><br />
                  Le code du depot est disponible ici :<br />
                <a href="#"
                   target="_blank">https://github.com/6netic/scrape_for_fun</a>
                </p>
              </div>
            </div>
          </div>
    -->
        </div>

      </div>
    </section><!-- #portfolio -->

{% endblock %}  
